@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap");
html{
    overflow: hidden;
}

#campaign {
    margin-top: 100px;
}

.backgroundImg {
    position: absolute;
    margin-left: -10px;
    height: 650px;
    background-size:cover;
    z-index: -1;
}

.game-stage {
    display: block;
    position: absolute;
    width: 70px;
    height: 64px;
    border-radius: 25%;
    margin: 20px;
    background-color: #39a;
    background-image: linear-gradient(to right, #08A 0%, #3AD 20%, #3AD 80%, #5CF 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 31, 0.75);
    cursor: pointer;
}

.game-stage-locked {
    display: block;
    position: absolute;
    width: 70px;
    height: 64px;
    border-radius: 25%;
    margin: 20px;
    background-color: rgb(135, 135, 135);
    background-image: linear-gradient(to right, rgb(111, 111, 111) 0%, rgb(102, 102, 102) 20%, rgb(102, 102, 102) 80%, rgb(117, 117, 117) 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 31, 0.75);
}

.game-stage-locked:after {
    content: attr(data-label);
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-align: center;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #989898;
    transform: translateY(-10px);
    transition-duration: 125ms;
    transition-delay: 125ms;
}

.game-stage:hover {
    filter: brightness(1.125);
    box-shadow: 0 2px 10px 2px rgba(63, 63, 127, 0.75);
}

.game-stage:after {
    content: attr(data-label);
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-align: center;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #6ef;
    transform: translateY(-10px);
    transition-duration: 125ms;
    transition-delay: 125ms;
}

.game-stage:active:after {
    transform: translateY(-4px);
    background-color: #9FF;
    transition-duration: 125ms;
    transition-delay: initial;
}

.fa-star {
    text-shadow: 0px 0px 2px black, 0px 0px 2px black;
    font-size: 25px;
}

.yellow {
    color: rgb(243, 240, 51);
}

.gray {
    color: rgb(207, 195, 195);
}

.star-one {
    position: absolute;
    left: -14%;
    top: 90%;
}

.star-two {
    position: absolute;
    left: 29.5%;
    top: 100%;
}

.star-three {
    position: absolute;
    left: 73%;
    top: 90%;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 95%;
    left: 33%;
}

.loading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid rgb(203, 203, 203);
    border-top-color: #8f8f8f;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

.totalStars {
    width: 129px;
    box-shadow: 0 2px 10px rgb(133, 187, 152);
    height: 45px;
    position: absolute;
    top: 120px;
    left: 48%;
    background-color: rgb(110, 249, 110);
    border-radius: 10px;
    font-size: 30px;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: 700;
}

.totalStarsContent {
    position: relative;
    top: 4px;
    left: 10px;
}

.totalStarsStar {
    position: absolute;
    right: 3px;
    bottom: 10px;
}

.totalStarsLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 33%;
    top: 16.5%;
}

.totalStarsLoading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid rgb(174, 255, 196);
    border-top-color: #009579;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
  
.obj_dropdown-content {
    display: none;
    position: absolute;
    top: 120px;
    right: 3%;
    text-align: center;
    background-color: #f9f9f9;
    width: 450px;
    height: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    background: rgb(140, 217, 167);
}

.obj_trigger:hover .obj_dropdown-content {
    display: block;
}

.obj_header {
    text-decoration: underline;
    font-size: 27px;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: 800;
    position: relative;
    bottom: 20px;
}

.objectives {
    position: relative;
    font-family: Nunito, Helvetica, sans-serif;
    text-align: left;
    bottom: 30px;
    left: 10px;
    font-size: 22px;
    font-weight: 700;
}

.fa .fa-check {
    margin-right: 5px;
}

.obj_text {
    position: relative;
    left: 6px;
}

