.body {
    margin: 0;
    position: absolute;
    top: 51.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body::after {
    content:'';
    background: url('../images/back.jpeg') no-repeat center center;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.4; /* Here is your opacity */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.whole-container {
    background-color: rgb(60, 192, 122);
    width: 1000px;
    height: 600px;
    border-radius: 40px;
    padding: 20px;
    margin-top: 80px;
}

.whole-container .button {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(186, 244, 186);
    color: grey;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 5px;
}

.whole-container .button:hover {
    background-color: rgb(3, 97, 66);
}

.whole-container .button p {
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: -25px;
}

.button-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(60, 119, 60);
    color: white;
    margin: 25px;
    border: none;
    padding: 15px;
    border-radius: 25px;
}

.button-container #my-friends {
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1 auto;
}

.button-container div p {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

#add-friend {
    width: 130px;
}

#friend-request {
    width: 180px;
    margin-right: 20px;
    margin-left: 40px;
}

#back {
    margin-left: 20px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(60, 192, 122);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    font-size: 17px;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
    float: left;
    padding: 6px;
    padding-left: 20px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    width: 370px;
    height: 25px;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 20px;
}

#hr1 {
    margin-top: 20px;
    width: 104%;
    margin-left: -20px;
    border: none;
    border-top: 5px solid #dddddd;
}


#scroll-view {
    margin-top: 10px;
    overflow-y: scroll;
    height: 390px;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(220, 220, 220);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(115, 115, 115);
}

#hr2 {
    width: 128%;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-top: 3px solid #dddddd;
}

#loading, #no-friends {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    display: flex;
    width: 80%;
    height: 75%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#no-friends {
    margin-top: 50px;
}

#error-msg {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    display: flex;
    width: 80%;
    height: 75%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: 20px;
    background-color: #66A49B;
    border-radius: 10px;
    border-style: hidden;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-weight: lighter;
    text-align: center;
    padding: 8px;
}

th {
    font-size: 25px;
    color: #FFFFFF;
    text-align: left;
    min-width: 300px;
    max-width: 300px;
}

td {
    font-size: 20px;
}

.friend-name {
    overflow-y: scroll;
}

.remove-button {
    text-align: right;
}

.friend-score {
    border-radius: 0px 0px 0px 5px;
}

.friend-time {
    border-radius: 0px 0px 5px 0px;
}

table:nth-child(even) {
    background-color: #d0d2b6;
}

table:nth-child(odd) th{
    color: #eeefd2;
}

table:nth-child(even) th{
    color: #5a8e85;
}

a:hover {
    cursor: pointer;
}

.remove-friend {
    background-color: #b33930;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /* margin-left: 380px; */
}

.remove-friend:hover {
    cursor: pointer;
    background-color: #8a0202;
    color: #c9c9c9;
}
